<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <import resource="applicationContext-sae-ordonnanceur-service.xml" />

   <bean id="applicationProperties"
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="location"
         value="config/commons-cassandra-local.properties" />
   </bean>

   <!-- configuration de l'ordonnanceur -->
   <bean id="ordonnanceurConfiguration"
      class="fr.urssaf.image.sae.ordonnanceur.model.OrdonnanceurConfiguration">
      <property name="intervalle" value="${sae.ordonnanceur.intervalle}" />
      <property name="tpsMaxReservation" value="${sae.piletravaux.seuilCheckReservation}" />
      <property name="tpsMaxTraitement" value="${sae.piletravaux.seuilCheckEncours}" />
   </bean>

   <!-- configuration de lancement du traitement de masse -->

   <bean id="traitementMasseLauncher" factory-bean="serviceMockFactory"
      factory-method="createTraitementLauncherSupport">
      <qualifier value="traitementMasseLauncher" />
   </bean>

   <bean id="DFCESupportImpl" factory-bean="serviceMockFactory"
      factory-method="createDFCESupport" />
   
   
   <!-- ECDE -->
   
   <bean id="ecdeTestTools"
      class="fr.urssaf.image.sae.ecde.util.test.EcdeTestTools" />
      
   <bean id="ecdeTestConfig"
      class="fr.urssaf.image.sae.ecde.util.test.EcdeTestConfig" />
   
   <bean id="ecdeSources"
         factory-bean="ecdeTestConfig"
         factory-method="load">
   </bean>
   
   <import resource="applicationContext-sae-ecde.xml" />
   
   
   <!-- Traçabilité -->
   
   <bean id="DispatcheurServiceImpl" factory-bean="serviceMockFactory"
      factory-method="createDispatcheurService" />
   
      
</beans>