<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
		 http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="dfceConnection"
      class="fr.urssaf.image.sae.regionalisation.factory.DFCEConnectFactory"
      factory-method="createDFCEConnectionByDFCEConfiguration">
      <constructor-arg ref="saeConfigResource" />
   </bean>

   <bean id="dfceConnectionService"
      class="fr.urssaf.image.commons.dfce.service.impl.DFCEConnectionServiceImpl">
      <constructor-arg ref="dfceConnection" />
   </bean>

   <bean id="dfceConfiguration"
      class="org.springframework.beans.factory.config.PropertiesFactoryBean">
      <property name="location" ref="saeConfigResource" />
   </bean>

   <bean id="base_regionalisation" class="java.lang.String">

      <constructor-arg>

         <bean factory-bean="dfceConfiguration" factory-method="getProperty">

            <constructor-arg value="db.baseName" />

         </bean>

      </constructor-arg>


   </bean>

</beans>