<configuration scan="true" scanPeriod="30 seconds">
   
   <!-- 
   
   Rappels des niveaux de trace : TRACE, DEBUG, INFO, WARN, ERROR, OFF
   
   
   Tableau de sortie des traces en fonction du niveau de trace demande
   dans l'appel du logger et du niveau de trace actif dans la config
   
   |________________________________________________________________________|
   | Niveau de trace      | Niveau de trace effectif dans la configuration  |
   | utilise dans l'appel |                                                 |
   | du logger            | TRACE | DEBUG | INFO  | WARN  | ERROR | OFF     |
   |________________________________________________________________________|
   | TRACE                |  Oui  |  Non  |  Non  |  Non  |  Non  |  Non    |
   |________________________________________________________________________|
   | DEBUG                |  Oui  |  Oui  |  Non  |  Non  |  Non  |  Non    |
   |________________________________________________________________________|
   | INFO                 |  Oui  |  Oui  |  Oui  |  Oui  |  Non  |  Non    |
   |________________________________________________________________________|
   | WARN                 |  Oui  |  Oui  |  Oui  |  Oui  |  Non  |  Non    |
   |________________________________________________________________________|
   | ERROR                |  Oui  |  Oui  |  Oui  |  Oui  |  Oui  |  Non    |
   |________________________________________________________________________|
   
   -->
   
   
   
   <!--
   <property name="LOGS_FOLDER" value="${catalina.base}/logs" />
   -->
   
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSk} %-5level %logger - %msg%n</pattern>
      </encoder>
   </appender>


   <!--
   <logger name="fr.urssaf.image.sae.indexcounterupdater" level="DEBUG" additivity="false">
      <appender-ref ref="STDOUT" />
   </logger>
   -->

   <logger name="org.apache.zookeeper.ZooKeeper" level="WARN" additivity="false">
      <appender-ref ref="STDOUT" />
   </logger>
   
   <!-- Niveau general pour l'application -->
   <root level="INFO">
      <appender-ref ref="STDOUT"/>
   </root>
   
   
</configuration>