<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <bean id="storageDocumentService" factory-bean="mockFactory"
      factory-method="createStorageDocumentService" primary="true">
      <qualifier value="storageDocumentService" />
   </bean>

   <bean id="cmControleSupport" factory-bean="mockFactory"
      factory-method="createCaptureMasseControleSupport" primary="true">
   </bean>

   <bean id="enrichmentService" factory-bean="mockFactory"
      factory-method="createEnrichmentMetaDataService" primary="true" />

   <bean id="interruptionTraitementMasseSupport" factory-bean="mockFactory"
      factory-method="createInterruptionTraitementMasseSupport" primary="true" />
      
</beans>
