.pad15{
	padding: 15px;
}

.col-sm-3{
	padding-right : 0px;
}

.col-sm-9 input{
	margin-bottom: 10px;
}

.form-control{
	font-size: 13px;
}

.marginBottom20{
	margin-bottom: 20px;
}

textarea.form-control {
	margin-top: 5px;
}
	
.btn.submit{
	width: 33%;
	margin-left: 20px;
}

h4.etape{
	padding-top: 40px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid #eee;
}

.blod{
	font-weight: bold;
}
.bgcolor1{
	background: color:#3ebaba;
}

.titre{
	color:#3ebaba;
}

.titre1 {
	font-size:18pt;
	text-decoration: underline;
	font-weight: bold;
}

.titre2 {
	font-size:15pt;
	text-decoration: underline;
	font-weight: bold;
}


.titre3 {
   font-size:11.6pt;
   font-weight: bold;
}


.titreTest {
   font-size:15pt;
   font-weight: bold;
}

.lienCas {
	font-size:11pt;
}


.descCasTest {
   color:blue;
   font-weight: bold;
}

.flor{
	float:right;
}
	
.flol{
	float:left;
}
.even{
 	background-color:Gainsboro;
}

.odd{ 
 	background-color:GhostWhite;
}

.subEven{
 	background-color:inactivecaption;
}

.subOdd{ 
 	background-color:InactiveBorder;
}

.table {
		width:98%;
}

.blank{
	float:left;
	width:70px;
}

.blank2{
	float:left;
	width:140px;
}

.text{padding-bottom:5px;}

.detail{float:left; padding-right:2px; border-right:1px solid; border-left:1px solid; word-wrap: break-word; font-size: 14px; height: 35px;}

.trace{border:1px solid; float:left}

.descLienRegistre {
   color: orange;
   font-weight: bold;
}