<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

   <!--
   Sous-ensemble du fichier principal de l'artéfact.
   
   Il peut être importé tel quel dans les TU. 
   -->
   
   <!-- Configuration du pool de suppression des documents dans DFCE -->
   <bean id="suppressionPoolConfiguration"
      class="fr.urssaf.image.sae.services.batch.suppression.support.stockage.multithreading.SuppressionPoolConfiguration">
      <property name="corePoolSize" value="${sae.suppressionmasse.pool.size}" />
   </bean>
   
   <!-- Import du fichier de définition du job de suppression de masse -->
   <import resource="jobs/job-sae-suppression-masse.xml" />   
   
</beans>
