<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


   <!--
   Sous-ensemble du fichier principal de l'artéfact.
   
   Il contient la définition des beans pour le job Spring Batch de capture de masse. 
   -->


   <bean id="Jaxb2UnMarshmaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
      <property name="schemas">
         <array>
            <value>classpath:xsd_som_res/document.xsd</value>
         </array>
      </property>
      <property name="contextPath"
         value="fr.urssaf.image.sae.services.batch.capturemasse.modele.commun_sommaire_et_resultat" />
   </bean>

   <bean id="captureMasseFactory"
      class="fr.urssaf.image.sae.services.batch.capturemasse.factory.CaptureMasseFactory" />

   <bean id="sommaireReader" scope="step"
      class="org.springframework.batch.item.xml.StaxEventItemReader"
      factory-bean="captureMasseFactory" factory-method="getSommaireReader">
      <constructor-arg value="#{jobParameters['capture.masse.sommaire']}" />
   </bean>

   <bean id="composantsReader" scope="step" factory-bean="captureMasseFactory"
      factory-method="getComposantReader">
      <constructor-arg value="#{jobParameters['capture.masse.sommaire']}" />
   </bean>

   <bean id="fichierReferenceReader" scope="step" name="fichierReferenceReader"
      class="org.springframework.batch.item.xml.StaxEventItemReader"
      factory-bean="captureMasseFactory" factory-method="getObjetNumeriqueReader">
      <constructor-arg value="#{jobParameters['capture.masse.sommaire']}" />
   </bean>

   <bean class="org.springframework.batch.item.support.CompositeItemProcessor"
      id="compositeControlProcessor">
      <property name="delegates">
         <list>
            <ref bean="convertSommaireDocumentProcessor" />
            <ref bean="controleSommaireDocumentProcessor" />
         </list>
      </property>
   </bean>

   <bean class="org.springframework.batch.item.support.CompositeItemProcessor"
      id="controleFichierReferenceProcessor">
      <property name="delegates">
         <list>
            <ref bean="convertSommaireObjetNumeriqueProcessor" />
            <ref bean="controleSommaireObjetNumeriqueProcessor" />
         </list>
      </property>
   </bean>


   <bean class="org.springframework.batch.item.support.CompositeItemProcessor"
      id="persistanceFichierReferenceProcessor">
      <property name="delegates">
         <list>
            <ref bean="convertSommaireObjetNumeriqueProcessor" />
            <ref bean="convertVirtualReferenceFileProcessor" />
         </list>
      </property>
   </bean>

   <bean class="org.springframework.batch.item.support.CompositeItemProcessor"
      id="controleComposantProcessor">
      <property name="delegates">
         <list>
            <ref bean="convertSommaireComposantProcessor" />
            <ref bean="controleSommaireDocumentsVirtuelsProcessor" />
         </list>
      </property>
   </bean>

<!-- 
   <bean id="processorConvertMetier"
      class="org.springframework.batch.item.adapter.ItemProcessorAdapter"
      factory-bean="captureMasseFactory" factory-method="getItemProcessor" />
 -->
 
   <bean class="org.springframework.batch.item.support.CompositeItemProcessor"
      id="compositeProcessorControlePersistance">
      <property name="delegates">
         <list>
            <ref bean="convertSommaireDocumentProcessor" />
            <ref bean="enrichissementMetadonneeProcessor" />
            <ref bean="controleStorageDocumentProcessor" />
            <ref bean="processorConvertMetier" />
            <ref bean="enrichissementStorageDocumentProcessor" />
            <ref bean="replacementDocumentProcessor" />
         </list>
      </property>
   </bean>

   <bean class="org.springframework.batch.item.support.CompositeItemProcessor"
      id="persistanceDocumentsVirtuelsProcessor">
      <property name="delegates">
         <list>
            <ref bean="convertSommaireComposantProcessor" />
            <ref bean="enrichissementVirtualMetadonneeProcessor" />
            <ref bean="controleStorageVirtualDocumentProcessor" />
            <ref bean="convertSaeVirtualDocumentProcessor" />
            <ref bean="enrichissementVirtualStorageDocumentProcessor" />
         </list>
      </property>
   </bean>
   
   <bean class="org.springframework.batch.item.support.CompositeItemProcessor"
      id="compositeCompressionProcessor">
      <property name="delegates">
         <list>
            <ref bean="convertSommaireDocumentProcessor" />
            <ref bean="controleCompressionDocumentProcessor" />
            <ref bean="compressionDocumentProcessor" />
         </list>
      </property>
   </bean>


</beans>
