<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

   <!--
   Sous-ensemble du fichier principal de l'artéfact.
   
   Il peut être importé tel quel dans les TU. 
   -->
   
   <!-- Configuration du pool d'insertion des documents dans DFCE --> 
   <bean id="transfertPoolConfiguration"
      class="fr.urssaf.image.sae.services.batch.transfert.support.stockage.multithreading.TransfertPoolConfiguration">
      <property name="corePoolSize" value="${sae.transfertmasse.pool.size}" />
   </bean> 
   
    <!-- Component-scan -->
   <context:component-scan base-package="fr.urssaf.image.sae.services.batch" />
  
   
   <!-- Import du fichier de définition du job de capture de masse -->
   <import resource="applicationContext-sae-services-transfertmasse-item.xml" />
   <import resource="jobs/job-sae-transfert-masse.xml" />   
   
   </beans>