<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
   xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!--
      On ne travaille pas en mode transactionnel, mais un
      transactionManager est obligatoire
   -->
   <bean id="transactionManager"
      class="org.springframework.batch.support.transaction.ResourcelessTransactionManager">
   </bean>

   <!-- Déclaration des DAO utilisées par spring-batch -->
   
   <bean id="cassandraJobInstanceDao"
      class="fr.urssaf.image.commons.cassandra.spring.batch.dao.CassandraJobInstanceDao">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="jobInstanceIdGenerator" />
   </bean>
   <bean id="jobInstanceIdGenerator"
      class="fr.urssaf.image.commons.cassandra.spring.batch.idgenerator.JobInstanceIdGenerator">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="zkClient" />
   </bean>
   <bean id="cassandraJobExecutionDao"
      class="fr.urssaf.image.commons.cassandra.spring.batch.dao.CassandraJobExecutionDao">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="jobExecutionIdGenerator" />
   </bean>
   <bean id="jobExecutionIdGenerator"
      class="fr.urssaf.image.commons.cassandra.spring.batch.idgenerator.JobExecutionIdGenerator">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="zkClient" />
   </bean>
   <bean id="cassandraStepExecutionDao"
      class="fr.urssaf.image.commons.cassandra.spring.batch.dao.CassandraStepExecutionDao">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="stepExecutionIdGenerator" />
   </bean>
   <bean id="stepExecutionIdGenerator"
      class="fr.urssaf.image.commons.cassandra.spring.batch.idgenerator.StepExecutionIdGenerator">
      <constructor-arg ref="keyspace" />
      <constructor-arg ref="zkClient" />
   </bean>
   <bean id="cassandraExecutionContextDao"
      class="fr.urssaf.image.commons.cassandra.spring.batch.dao.CassandraExecutionContextDao">
      <constructor-arg ref="keyspace" />
   </bean>

   <!-- Importation de la définition du keyspace et de zkClient -->
   <import resource="classpath*:/applicationContext-commons-cassandra.xml" />

</beans>