<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xmlns:jee="http://www.springframework.org/schema/jee"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-3.0.xsd
      http://www.springframework.org/schema/jee 
      http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

   
   <!-- La configuration ANAIS -->
   
   <bean id="saeAnaisConfig" class="fr.urssaf.image.sae.anais.framework.config.SaeAnaisConfig">
      <property name="hostname" value="${anais.host}" />
      <property name="port" value="${anais.port}" />
      <property name="usetls" value="${anais.tls}" />
      <property name="appdn" value="${anais.cn}" />
      <property name="passwd" value="${anais.compte-applicatif-password}" />
      <property name="codeapp" value="${anais.code-application}" />
      <property name="codeenv" value="${anais.codeenv}" />
      <property name="timeout" value="${anais.timeout}" />
      <property name="comptePortail" value="${anais.comptePortail}" />
      <property name="droitsDirect" value="${anais.activerDroitsDirects}" />
   </bean>
   
   
   
</beans>