<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <bean id="resourceSaeConfig" class="org.springframework.core.io.ClassPathResource">
      <constructor-arg value="config/commons-config.properties" />
   </bean>

   <bean class="java.io.File" id="fileSaeConfig">
      <constructor-arg>
         <bean factory-bean="resourceSaeConfig" factory-method="getURI" />
      </constructor-arg>
   </bean>

   <bean id="saeConfigResource" class="org.springframework.core.io.FileSystemResource">
      <constructor-arg>
         <bean factory-bean="fileSaeConfig" factory-method="getAbsolutePath" />
      </constructor-arg>
   </bean>

   <bean class="fr.urssaf.image.sae.commons.factory.PropertiesFactory"
      factory-method="load">
      <constructor-arg ref="saeConfigResource" />
   </bean>

   <import resource="applicationContext-sae-rnd.xml" />

   <bean id="mockFactory" class="fr.urssaf.image.sae.rnd.utils.MockFactoryBean" />

   <bean id="serviceProvider" factory-bean="mockFactory"
      factory-method="createServiceProvider" primary="true">
   </bean>

   <bean id="dfceConnectionService" factory-bean="mockFactory"
      factory-method="createDFCEConnectionService" primary="true">
   </bean>

   <bean id="storageAdministrationService" factory-bean="mockFactory"
      factory-method="createStorageAdministrationService" primary="true">
   </bean>

   <bean id="lifeCycleRule" factory-bean="mockFactory"
      factory-method="createLifeCycleRule" primary="true">
   </bean>

   <bean factory-bean="mockFactory" factory-method="createRndRecuperationService"
      primary="true" />

</beans>