<configuration>
   
   <property name="LOGS_FOLDER" value="@@LOGS_PATH@@" />

   <property name="LOGS_FILENAME_PREFIXE" value="sae-igcmaj" />

   <property name="PATTERN" value="%d %p [%c] %m%n" />
   
   

   <!-- Sortie console -->
   <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      
      <encoder>
         <pattern>${PATTERN}</pattern>
      </encoder>
      
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>INFO</level>
      </filter>
      
   </appender>



   <!-- Sortie fichier -->
   <appender name="fichier"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      
      <encoder>
         <pattern>${PATTERN}</pattern>
      </encoder>
      
      <file>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}.log</file>
      
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>INFO</level>
      </filter>
      
      <rollingPolicy
         class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
         <fileNamePattern>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}.%i.log</fileNamePattern>
         <maxIndex>10</maxIndex>
      </rollingPolicy>
      
      <triggeringPolicy
         class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <maxFileSize>10MB</maxFileSize>
      </triggeringPolicy>
      
   </appender>
   
   
   <logger name="org.springframework" level="WARN" />
   <logger name="me.prettyprint" level="WARN" />
   <logger name="com.netflix" level="WARN" />
   <logger name="org.apache.zookeeper" level="WARN" />
   <logger name="org.springframework" level="WARN" />
   
   <!-- Configuration racine -->
   <root level="INFO">
      <appender-ref ref="console" />
      <appender-ref ref="fichier" />
   </root>
   
   
</configuration>