<configuration>
   
   <property name="LOGS_FOLDER" value="@@LOGS_PATH@@" />
   
   <property name="LOGS_FILENAME_PREFIXE" value="sae_documents_executable" />
   
   <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{log_contexte_uuid}] %-5level %logger - %msg%n" />
   
  
 
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>${PATTERN}</pattern>
      </encoder>
   </appender>



  <!--
   L'appender fichier pour les traces de niveaux WARN et ERROR
   -->
   <appender name="log-file"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      
      <file>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}-${operation}.log</file>
      
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>INFO</level>
      </filter>
      
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}-${operation}.%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>15</maxHistory>
      </rollingPolicy>
      
      <encoder>
         <pattern>${PATTERN}</pattern>
      </encoder>
      
   </appender>
   

   <!-- 
   L'appender fichier pour les traces de niveau INFO, DEBUG et TRACE
   -->
   <appender name="debug-file"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      
      <file>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}-${operation}-debug.log</file>
       
      <rollingPolicy
         class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
         <fileNamePattern>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}-${operation}-debug.%i.log</fileNamePattern>
         <maxIndex>10</maxIndex>
      </rollingPolicy>
      
      <triggeringPolicy
         class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <maxFileSize>10MB</maxFileSize>
      </triggeringPolicy>
      
      <encoder>
         <pattern>${PATTERN}</pattern>
      </encoder>
      
   </appender>
   
   
   
   
   <!-- 
   Exemples d'activation des traces DEBUG pour le SAE
   -->
   
   
   <!-- Pour tout le SAE, ou plus precisement pour le package de plus haut niveau -->
   <!--
   <logger name="fr.urssaf.image.sae" level="DEBUG" additivity="false">
      <appender-ref ref="log-file" />
      <appender-ref ref="debug-file" />
   </logger>
   -->
   
  
   
   <!-- Niveau general pour l'application -->
   <root level="INFO">
      <appender-ref ref="log-file" />
      <appender-ref ref="debug-file" />
   </root>
   
   
</configuration>