<configuration>

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%logger] - %msg%n</pattern>
      </encoder>
   </appender>
   

   <logger name="org.opensaml" level="warn"/>
   <logger name="org.springframework" level="warn"/>
   <logger name="org.apache.commons" level="warn"/>
   <logger name="org.apache.axiom" level="warn"/>
   <logger name="org.apache.axis2" level="warn"/>
   <logger name="org.apache.xml" level="warn"/>
   <logger name="httpclient.wire" level="warn"/>


   <root level="debug">
      <appender-ref ref="STDOUT" />
   </root>
  
</configuration>