<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">

		<!-- This is MDC value -->
		<!-- We will assign a value to 'logFileName' via Java code -->
		<discriminator>
			<key>logFileName</key>
			<defaultValue>/hawai/logs/bnd_ssti</defaultValue>
		</discriminator>

		<sift>

		  <!-- A standard RollingFileAppender, the log file is based on 'logFileName' at runtime  -->
		  <appender name="FILE-${logFileName}"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${logFileName}.log</file>

			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>
					%d{yyyy-MM-dd HH:mm:ss} [%thread] %level %logger{35} - %msg%n
				</Pattern>
			</encoder>

		      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		         <fileNamePattern>${LOGS_FOLDER}/${LOGS_FILENAME_PREFIXE}-${operation}.%d{yyyyMMdd}.log</fileNamePattern>
		         <maxHistory>15</maxHistory>
		      </rollingPolicy>

			<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
				<MaxFileSize>10MB</MaxFileSize>
			</triggeringPolicy>

		  </appender>

		</sift>
	</appender>

	<root level="info">
		<appender-ref ref="FILE-THREAD" />
	</root>

</configuration>