<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context.xsd 
      http://www.springframework.org/schema/beans/spring-beans.xsd 
      http://www.springframework.org/schema/aop  
      http://www.springframework.org/schema/aop/spring-aop.xsd"
      >

   <context:component-scan base-package="fr.urssaf.image.sae.services" />
   <!--  <bean id="saeDocumentService"
      class="fr.urssaf.image.sae.services.document.impl.SAEDocumentServiceImpl">
       	<property name="transactionManager" ref="transactionManager">  
    	<property name="proxyTargetClass" value="false">  
		<property name="transactionAttributes">  
			        <props>  
			            <prop key="*">PROPAGATION_NOT_SUPPORTED</prop>  
			        </props>  
		</property>  
    	</property>
    	</property>
   </bean> -->

   <!--Gestion de message à partir d'un fichier -->
   <bean id="messageSource_sae_services"
      class="org.springframework.context.support.ResourceBundleMessageSource">
      <property name="basename" value="i18n.sae_services_messages" />
   </bean>

   <!-- Pour import des fichiers .properties -->
   <import resource="applicationContext-properties-test.xml" />

   <import resource="applicationContext-commons-dfce-connection.xml" />
   <import resource="applicationContext-sae-storage-dfce.xml" />

   <import resource="applicationContext-sae-services-transfert.xml" />
   
   <import resource="applicationContext-sae-mapping.xml" />
   <import resource="applicationContext-sae-ecde-test.xml" />

   <import resource="applicationContext-sae-droit.xml" />
   <import resource="applicationContext-sae-services.xml" />

   <import resource="applicationContext-sae-trace.xml" />
   <import resource="applicationContext-sae-rnd.xml" />
   
   <import resource="applicationContext-sae-format.xml" />
   
	<!-- <aop:config proxy-target-class="false">
	 <aop:advisor advice-ref="runtimeCacheAdvice" order="100" pointcut="execution(* com..ErpRuntimeContextInternal.providePreferences(..))">  
		</aop:advisor>
	</aop:config> -->
</beans>
