<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <bean id="mockFactory" class="fr.urssaf.image.sae.utils.MockFactoryBean" />

   <bean id="storageDocumentService" factory-bean="mockFactory"
      factory-method="createStorageDocumentService">
      <qualifier value="storageDocumentService" />
   </bean>

   <bean id="provider" factory-bean="mockFactory" factory-method="createStorageServiceProvider"
      primary="true">
      <qualifier value="storageServiceProvider" />
   </bean>
   
   
   <bean id="saeDocumentService" factory-bean="mockFactory" factory-method="createSaeDocumentService"
      primary="true" />

</beans>
