table {
	border: 1px solid #1C4C62;
	background-color: #D4D9EC;
	margin-bottom: 2px;
}

tr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	background-color:#FAFBF4;
}

th,td {
	text-align: left;
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

thead tr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: White;
	font-weight: bold;
	font-size: 9px;
	text-decoration: none;
	background-color: #1C4C62;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#1C4C62,EndColorStr=#CEEDFF);
}

table.list th.sorted a, table.list th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	display: block;
}

th.sorted {
	background-color: #1C4C62;
}

th a,th a:visited {
	color: White;
}

th a:hover {
	color: White;
	text-decoration: underline overline;
}

th.sorted a, th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background-repeat: no-repeat;
	background-image: url(../img/arrow_off.png);
}

th.order1 a {
	background-repeat: no-repeat;
	background-image: url(../img/arrow_down.png);
}

th.order2 a {
	background-repeat: no-repeat;
	background-image: url(../img/arrow_up.png);
}

tr.odd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #FAFBF4
}

tr.tableRowEven, tr.even {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #FAFBF4
}

span.pagelinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
	font-size: 9px;
	margin-bottom: 5px;
	margin-top: -18px;
	padding: 2px 0px 2px 0px;
	text-align: right;
	width: 80%;
}
span.pagebanner {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #D4D9EC;
	border: 1px solid #1C4C62;
	padding: 2px 4px 2px 4px;
	width: 89%;
	margin-top: 10px;
	display: block;
}

.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}
.subtotal-sum, .grandtotal-sum {
    font-weight:bold;
    text-align:right;
}
.subtotal-header {
    padding-bottom: 0px;
    border-top: 1px solid white;
}
.subtotal-label, .grandtotal-label {
    border-top: 1px solid white;
    font-weight: bold;
}
.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}
.grandtotal-row {
    border-top: 2px solid black;
}
