p {
	font-family: Arial, Helvetica, sans-serif;
	font-size:9pt; 
}

div {
	font-family: Arial, Helvetica, sans-serif;
	font-size:9pt; 	
}

/*============================= OBJETS DE FORMULAIRE (boutons, champs, etc.) =========================*/
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt; 
	color: black
}

.input {
	border: 1px #0434B1 solid;
	background-color: #CEEDFF;
	padding: 2px;
}

input.btn
{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:9px; 
	margin: 10px;
	border: 1px outset #aaaaff;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff,EndColorStr=#aaaaff);
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px; 
	color: black
}
 
 
