<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <bean id="cassandraSupport"
      class="fr.urssaf.image.sae.regionalisation.fond.documentaire.factory.MockFactory"
      factory-method="createCassandraSupport" primary="true" />

   <bean id="docInfoService"
      class="fr.urssaf.image.sae.regionalisation.fond.documentaire.factory.MockFactory"
      factory-method="createDocInfoService" primary="true" />

   <bean id="documentService"
      class="fr.urssaf.image.sae.regionalisation.fond.documentaire.factory.MockFactory"
      factory-method="createDocumentService" />

   <bean id="providerSupport"
      class="fr.urssaf.image.sae.regionalisation.fond.documentaire.factory.MockFactory"
      factory-method="createProviderSupport" />

</beans>
