<?xml version="1.0" encoding="UTF-8"?>
<beans
   xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans	
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   
   <!--
      Chargement des fichiers .properties de test dans des objets Resource
   -->
   
   <bean
      id="saeConfigResource"
      class="org.springframework.core.io.ClassPathResource">
      <constructor-arg value="config/sae-config.properties" />
   </bean>
      
   <bean
      id="dfceConfigResource"
      class="org.springframework.core.io.ClassPathResource">
      <constructor-arg value="config/sae-dfce-config-cer69-ds4int.properties" />
   </bean>
   
   <bean
      id="cassandraConfigResource"
      class="org.springframework.core.io.ClassPathResource">
      <constructor-arg value="config/sae-cassandra-config-cer69imageint9.properties" />
   </bean>
   
   
   <!-- Chargement des properties dans un PropertyPlaceHolder -->
   
   <bean
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="locations">
         <array value-type="org.springframework.core.io.Resource">
            <ref bean="saeConfigResource" />
            <ref bean="dfceConfigResource" />
            <ref bean="cassandraConfigResource" />
         </array>
      </property>
   </bean>


   <!-- 
      Connexion à Cassandra
      Le fichier properties contenant les informations de connexion
      a été chargé plus haut
   -->
   <!-- Import du fichier de contexte String de l'artéfact commons-cassandra -->
   <import resource="classpath*:/applicationContext-commons-cassandra.xml" />
   
   
   <!--
      Connexion à DFCE
      Le fichier properties contenant les informations de connexion
      a été chargé plus haut
   -->
   <!-- La configuration sous la forme d'objets de sae-storage -->
   <bean id="storageBase"
      class="fr.urssaf.image.sae.storage.model.connection.StorageBase">
      <property name="baseName" value="${db.baseName}" />
   </bean>
   <bean id="storageHost"
      class="fr.urssaf.image.sae.storage.model.connection.StorageHost">
      <property name="hostName" value="${db.hostName}" />
      <property name="hostPort" value="${db.hostPort}" />
      <property name="contextRoot" value="${db.contextRoot}" />
      <property name="secure" value="${db.secure}" />
   </bean>
   <bean id="storageUser"
      class="fr.urssaf.image.sae.storage.model.connection.StorageUser">
      <property name="login" value="${db.login}" />
      <property name="password" value="${db.password}" />
   </bean>
   <bean id="storageConnectionParameter"
      class="fr.urssaf.image.sae.storage.model.connection.StorageConnectionParameter">
      <property name="storageBase" ref="storageBase" />
      <property name="storageHost" ref="storageHost" />
      <property name="storageUser" ref="storageUser" />
      <property name="digestAlgo" value="${db.digestAlgo}" />
      <property name="checkHash" value="${db.checkHash}" />
   </bean>
   <!-- Ouverture de la connexion à DFCE -->
   <bean id="dfceConnectionParametres"
      class="fr.urssaf.image.commons.dfce.manager.DFCEConnectionFactory"
      factory-method="createDFCEConnectionByDFCEConfigurationResource">
      <constructor-arg ref="dfceConfigResource" />
   </bean>
   <bean id="dfceConnectionService"
      class="fr.urssaf.image.commons.dfce.service.impl.DFCEConnectionServiceImpl">
      <constructor-arg ref="dfceConnectionParametres" />
   </bean>
   <bean id="dfceServiceProvider"
      factory-bean="dfceConnectionService"
      factory-method="openConnection">
   </bean>
   
   
   <!-- Import du fichier de contexte String de l'artéfact sae-metadata -->
   <import resource="classpath*:/applicationContext-sae-metadata.xml" />
   
   <!-- Component-scan sur l'artéfact courant -->
   <context:component-scan base-package="fr.urssaf.image.sae.integration.meta" />

</beans>