form {
	padding-left: 10px;
}

fieldset {
	border: 1px solid #1C4C62;
	padding: 10px;
	margin: 10px;
	width: 600px;
}

.fieldset2 {
	padding: 10px;
	margin: 10px;
	border: none;
	border-top: 1px solid black;
	width: 90%;
}

.cadreForm {
	width: 600px;
	background-color: #D4D9EC;
	border: 1px solid #1C4C62;
	padding: 4px 4px 4px 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.stacktrace {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	border: 1px solid #D4D9EC;
}

legend {
	color: #1C4C62;
	font-weight: bold
}

.legend2 {
	color: black;
	font-weight: normal;
}

legend a {
	color: black;
	text-decoration: none;
}

legend a:HOVER {
	color: #1C4C62;
}

label.inline {
	display: inline;
	margin-right: 10px;
}

form table.tableForm {
	border: 0px;
	border-collapse: collapse;
	margin-left: 20px;
}

form tr.tableForm {
	background-color: #D4D9EC;
}

form td.tableForm {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: right;
	vertical-align: top;
	margin: 0px;
	padding: 5px;
	padding-left: 20px;
}

form td.tableFormGauche {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding: 5px;
	padding-left: 20px;
}

form p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

form p.double { /* Empêcher le dépassement des flottants */
	overflow: hidden;
	/* Idem pour IE6 */
	width: 100%;
}

form label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

form p.double label {
	display: block;
	float: left;
	width: 200px;
	text-align: right;
	cursor: pointer;
	font-weight: bold;
}

form p.double label span.info {
	display: block;
	margin-top: .2em;
	font-size: .8em;
	font-weight: normal;
	cursor: default;
}

form p.double input,form p.double textarea,form p.double select {
	width: 245px;
	margin-left: 10px;
	border: 1px solid #1C4C62;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
}

form p.double2 { /* Empêcher le dépassement des flottants */
	overflow: hidden;
	/* Idem pour IE6 */
	width: 100%;
	padding: 0px;
}

form p.double2 label {
	display: block;
	float: left;
	width: 120px;
	text-align: right;
	cursor: pointer;
}

form p.double2 input,form p.double2 textarea {
	width: 80px;
	margin-left: 8px;
	border: 1px solid #1C4C62;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
}

form p.double2 select {
	width: 250px;
	margin-left: 8px;
	border: 1px solid #1C4C62;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
}

.inputText {
	width: 250px;
	margin-left: 12px;
	border: 1px solid #1C4C62;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
}

.inputSelect {
	width: 400px;
	margin-left: 12px;
	border: 1px solid #1C4C62;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: black;
}

.inputSelectPetit {
	width: 240px;
	margin-left: 12px;
	border: 1px solid #1C4C62;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
}

.inputHeure {
	width: 40px;
	margin-left: 5px;
	border: 1px solid #1C4C62;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
}

.inputDate {
	width: 70px;
	margin-left: 5px;
	border: 1px solid #1C4C62;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
	text-align: center;
}

.inputNum {
	width: 30px;
	border: 1px solid #1C4C62;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
	text-align: center;
}

.msg_erreur {
	text-align: center;
	padding: 5px;
	color: red;
	font-size: 14px;
	font-weight: bold;
}