<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
   <import resource="classpath*:/applicationContext-commons-cassandra.xml" />
   <import resource="classpath*:/applicationContext-sae-commons.xml" />
   <bean
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="locations">
         <list>
            <value>config/sae-config.properties</value>
            <value>classpath:config/cassandra-local.properties</value>
         </list>
      </property>
   </bean>

   

   <bean id="prmdControleTest"
      class="fr.urssaf.image.sae.droit.controle.PrmdControleTestImpl" />

   <!--
      Importation de la définition du keyspace cassandra et du client
      zookeeper (zkClient)
   -->
   <import resource="classpath*:/applicationContext-commons-cassandra.xml" />
   <import resource="applicationContext-sae-droit.xml" />
   
</beans>