<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">


   <bean id="saeConfigResource" class="org.springframework.core.io.ClassPathResource">
      <constructor-arg value="/dfce/test-dfce.properties" />
   </bean>

   <import resource="applicationContext-sae-regionalisation-dfce.xml" />

   <context:component-scan base-package="fr.urssaf.image.sae.regionalisation.support" />
   <context:component-scan base-package="fr.urssaf.image.sae.regionalisation.server" />
   
   <bean id="dfceConfiguration"
      class="org.springframework.beans.factory.config.PropertiesFactoryBean">
      <property name="location" value="dfce/test-dfce.properties" />
   </bean>

   <bean id="repriseConfiguration"
      class="fr.urssaf.image.sae.regionalisation.bean.RepriseConfiguration">
      <constructor-arg name="maxTestCount">
         <bean factory-bean="dfceConfiguration" factory-method="getProperty">
            <constructor-arg value="maxTestCount" />
         </bean>
      </constructor-arg>
      <constructor-arg name="timeInterval">
         <bean factory-bean="dfceConfiguration" factory-method="getProperty">
            <constructor-arg value="timeInterval" />
         </bean>
      </constructor-arg>
   </bean>

   <bean class="fr.urssaf.image.sae.regionalisation.bean.CassandraConfig"
      id="cassandraConfig">
      <property name="baseUuid">
         <bean factory-bean="dfceConfiguration" factory-method="getProperty">
            <constructor-arg value="cassandra.baseUuid" />
         </bean>
      </property>
      <property name="cluster">
         <bean factory-bean="dfceConfiguration" factory-method="getProperty">
            <constructor-arg value="cassandra.cluster" />
         </bean>
      </property>
      <property name="keyspace">
         <bean factory-bean="dfceConfiguration" factory-method="getProperty">
            <constructor-arg value="cassandra.keyspace" />
         </bean>
      </property>
      <property name="password">
         <bean factory-bean="dfceConfiguration" factory-method="getProperty">
            <constructor-arg value="cassandra.password" />
         </bean>
      </property>
      <property name="port">
         <bean factory-bean="dfceConfiguration" factory-method="getProperty">
            <constructor-arg value="cassandra.port" />
         </bean>
      </property>
      <property name="servers">
         <bean factory-bean="dfceConfiguration" factory-method="getProperty">
            <constructor-arg value="cassandra.servers" />
         </bean>
      </property>
      <property name="user">
         <bean factory-bean="dfceConfiguration" factory-method="getProperty">
            <constructor-arg value="cassandra.user" />
         </bean>
      </property>
   </bean>

   <bean id="repository" class="fr.urssaf.image.sae.regionalisation.util.RegioFactory"
      factory-method="createSuiviTempFile" />

   <bean id="saeDocumentDao"
      class="fr.urssaf.image.sae.regionalisation.dao.impl.SaeDocumentDaoImpl" />

</beans>
