<configuration>

   <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d %p %m%n</pattern>
      </encoder>
   </appender>

   <logger name="fr.urssaf.image.sae">
      <level value="DEBUG" />
   </logger>

   <logger name="org.springframework.jdbc.core.JdbcTemplate">
      <level value="WARN" />
   </logger>

   <!-- Niveau general pour l'application -->
   <root level="WARN">
      <appender-ref ref="console" />
   </root>


</configuration>