<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">


   <bean id="saeConfigResource" class="org.springframework.core.io.ClassPathResource">
      <constructor-arg value="/dfce/test-dfce.properties" />
   </bean>

   <import resource="applicationContext-sae-regionalisation-dfce.xml" />

   <context:component-scan base-package="fr.urssaf.image.sae.regionalisation.support" />

   <bean id="repriseConfiguration" class="fr.urssaf.image.sae.regionalisation.bean.RepriseConfiguration">
      <constructor-arg name="maxTestCount" value="1" />
      <constructor-arg name="timeInterval" value="10" />
   </bean>
   
   <bean id="repository" class="fr.urssaf.image.sae.regionalisation.util.RegioFactory" factory-method="createSuiviTempFile" />
   
   <bean id="saeDocumentDao"
      class="fr.urssaf.image.sae.regionalisation.dao.impl.SaeDocumentDaoImpl" />

</beans>
