<configuration>

   <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSk} %-5level %logger - %msg%n</pattern>
      </encoder>
   </appender>
   
   <logger name="org.opensaml" level="WARN" />
   <logger name="org.apache.axiom" level="WARN" />
   <logger name="org.apache.xml" level="WARN" />
   <logger name="org.apache.axis2" level="WARN" />
   <logger name="org.springframework" level="WARN" />
   <logger name="org.apache.cassandra" level="WARN" />
   <logger name="org.cassandraunit" level="WARN" />
   <logger name="me.prettyprint" level="WARN" />
   <logger name="com.netflix.curator" level="WARN" />
   <logger name="org.apache.zookeeper" level="WARN" />
   <logger name="uk.gov.nationalarchives" level="WARN" />
   <logger name="org.apache.pdfbox" level="WARN" />
   
   
   <logger name="fr.urssaf.image.commons.cassandra" level="WARN" />
   <logger name="fr.urssaf.image.commons.zookeeper" level="WARN" />
   
   <logger name="fr.urssaf.image.sae.webservices" level="WARN" />
   <logger name="fr.urssaf.image.sae.trace" level="WARN" />
   <logger name="fr.urssaf.image.sae.igc" level="WARN" />
   <logger name="fr.urssaf.image.sae.vi" level="WARN" />
   <logger name="fr.urssaf.image.sae.droit" level="WARN" />
   <logger name="fr.urssaf.image.sae.services.batch.capturemasse" level="WARN" />
   
   
   <root level="debug">
      <appender-ref ref="console" />
   </root>

</configuration>