<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/jee 
         http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <context:component-scan base-package="fr.urssaf.image.sae.services.capturemasse" />

   <bean id="instanceDao"
      class="org.springframework.batch.core.repository.dao.MapJobInstanceDao">
   </bean>


   <bean id="executionDao"
      class="org.springframework.batch.core.repository.dao.MapJobExecutionDao">
   </bean>

   <bean id="stepExecutionDao"
      class="org.springframework.batch.core.repository.dao.MapStepExecutionDao">
   </bean>

   <bean id="executionContextDao"
      class="org.springframework.batch.core.repository.dao.MapExecutionContextDao">
   </bean>
   
   <bean id="transactionManager" class="org.springframework.batch.support.transaction.ResourcelessTransactionManager">
   </bean>

   <bean id="jobRepository"
      class="org.springframework.batch.core.repository.support.SimpleJobRepository">
      <constructor-arg ref="instanceDao" />
      <constructor-arg ref="executionDao" />
      <constructor-arg ref="stepExecutionDao" />
      <constructor-arg ref="executionContextDao" />
   </bean>

   <bean id="captureMasseConfigSpring"
      class="fr.urssaf.image.sae.services.capturemasse.support.stockage.interruption.model.InterruptionTraitementConfig">
      <qualifier value="interruption_capture_masse" />
      <property name="start" value="02:00:00" />
      <property name="delay" value="60" />
      <property name="tentatives" value="2" />
   </bean>
   
   <bean id="insertionPoolConfiguration"
      class="fr.urssaf.image.sae.services.capturemasse.support.stockage.multithreading.InsertionPoolConfiguration">
      <property name="corePoolSize" value="20" />
   </bean>

   <bean id="jobLauncher"
      class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
      <property name="jobRepository" ref="jobRepository" />
   </bean>

   <bean id="launcher" class="org.springframework.batch.test.JobLauncherTestUtils">
      <property name="job" ref="capture_masse" />
   </bean>
</beans>