<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:cassandra="http://www.springframework.org/schema/data/cassandra"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/cql http://www.springframework.org/schema/cql/spring-cql-1.0.xsd
        http://www.springframework.org/schema/data/cassandra http://www.springframework.org/schema/data/cassandra/spring-cassandra.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Configuration des annotations dans les classe java -->


	<context:annotation-config />
	<context:component-scan
		base-package="fr.urssaf.image.sae" />


	<bean
		class="fr.urssaf.image.sae.commons.factory.PropertiesFactory"
		factory-method="load">
		<constructor-arg ref="saeConfigResource" />
	</bean>
   <import resource="classpath*:/applicationContext-commons-cassandra.xml" />
   <import resource="classpath*:/applicationContext-commons-dfce-connection.xml" /> 
	<import resource="applicationContext-sae-trace.xml" />
	<import resource="applicationContext-sae-pile-travaux.xml" />
	<import resource="applicationContext-sae-droit.xml" />
	<import resource="applicationContext-commons-cassandra-spring-batch.xml" />
	<import resource="applicationContext-sae-services-batch.xml" />
	<import resource="applicationContext-sae-droit.xml" />
	<import resource="applicationContext-sae-format.xml" />
	<import resource="applicationContext-sae-metadata.xml" />
	<import resource="applicationContext-sae-rnd.xml" />
	<import resource="applicationContext-sae-commons.xml" />
	
	  <bean id="ecdeConfigFile" class="java.io.File">
      <constructor-arg value="${sae.ecde.cheminFichierConfig}" />
   </bean>
   <bean id="ecdeSources" factory-bean="ecdeSourceManager"
      factory-method="load">
      <constructor-arg ref="ecdeConfigFile" />
   </bean>


   <bean id="ecdeSourceManager" class="fr.urssaf.image.sae.ecde.EcdeSourceManagerImpl" />
</beans>