<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   id="WebApp_ID" version="2.5">

   <display-name>IHM Web Exploitation</display-name>

   <!--
      Paramétrage du contexte de l'application Web en passant par Spring
      (instanciation conteneur IOC)
   -->
   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext-sae-ihm-web-exploit.xml</param-value>
   </context-param>

   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>

   <!-- Prise en compte par Spring des appels HTTP -->
   <servlet>
      <servlet-name>spring</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <!-- Mapping des url -->
   <servlet-mapping>
      <servlet-name>spring</servlet-name>
      <url-pattern>*.do</url-pattern>
   </servlet-mapping>


   <!--  Page d'erreur -->
   <error-page>
      <error-code>401</error-code>
      <location>/401.jsp</location>
   </error-page>

   <!-- Vérification des droits -->

   <filter>
      <filter-name>droitsFilter</filter-name>
      <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>droitsFilter</filter-name>
      <url-pattern>/connexion.do</url-pattern>
      <url-pattern>/rechercherDocuments.do</url-pattern>
      <url-pattern>/afficherDocuments.do</url-pattern>
      <url-pattern>/consulterDocument.do</url-pattern>
      <url-pattern>/lancerConsultDoc.do</url-pattern>
      <url-pattern>/telecharger.do</url-pattern>
      <url-pattern>/consulterPile.do</url-pattern>
      <url-pattern>/gererPile.do</url-pattern>
   </filter-mapping>


   <!-- Le filtre d'encodage UTF8 -->
   <filter>
      <filter-name>characterEncodingFilter</filter-name>
      <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
      <init-param>
         <param-name>encoding</param-name>
         <param-value>UTF-8</param-value>
      </init-param>
      <init-param>
         <param-name>forceEncoding</param-name>
         <param-value>true</param-value>
      </init-param>
   </filter>

   <filter-mapping>
      <filter-name>characterEncodingFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

 
   <!-- Page d'accueil -->
   <welcome-file-list>
      <welcome-file>view/index.jsp</welcome-file>
   </welcome-file-list>

   <!-- Durée de vie de la session, en minutes -->
   <session-config>
      <session-timeout>30</session-timeout>
   </session-config>




   <filter>
      	<filter-name>MaquetteFilter</filter-name>
      	<filter-class>fr.urssaf.image.commons.maquette.MaquetteFilter</filter-class>

      	<init-param>
	         <param-name>fichierProprietes</param-name>
      	   <param-value>SAE_IHM_WEB_EXPLOIT_CONFIG_MAQUETTE</param-value>
	      </init-param>
   	</filter>

 
   <filter-mapping>
      <filter-name>MaquetteFilter</filter-name>
      <url-pattern>/authentification.do</url-pattern>
      <url-pattern>/connexion.do</url-pattern>
      <url-pattern>/rechercherDocuments.do</url-pattern>
      <url-pattern>/consulterDocument.do</url-pattern>
      <url-pattern>/lancerConsultDoc.do</url-pattern>
      <url-pattern>/consulterPile.do</url-pattern>
      <url-pattern>/gererPile.do</url-pattern>
      <url-pattern>/afficherDocuments.do</url-pattern>
      <url-pattern>/deconnexion.do</url-pattern>
      <url-pattern>/droits.do</url-pattern>
      <url-pattern>*.jsp</url-pattern>
      <url-pattern>*.html</url-pattern>
      <url-pattern>*.htm</url-pattern>
      
   </filter-mapping>

   <servlet>
      <description></description>
      <display-name>MaquetteServlet</display-name>
      <servlet-name>MaquetteServlet</servlet-name>
      <servlet-class>fr.urssaf.image.commons.maquette.MaquetteServlet</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>MaquetteServlet</servlet-name>
      <url-pattern>/getResourceImageMaquette.do</url-pattern>
   </servlet-mapping>

</web-app>