<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

   <!--Gestion de message à partir d'un fichier -->
   <!-- sae-config.properties    -->
   <bean id="saeConfigResource" class="org.springframework.core.io.FileSystemResource">
     <constructor-arg value="src/test/resources/config/test-sae-config.properties" />
   </bean>
 
   <bean id="configCassandra"
      class="fr.urssaf.image.sae.lotinstallmaj.modele.CassandraConfig">
      <property name="hosts" value="${cassandra.hosts}" />
      <property name="login" value="${cassandra.username}" />
      <property name="password" value="${cassandra.password}" />
      <property name="keyspaceName" value="${cassandra.keyspace}" />
      <property name="timeout" value="${cassandra.timeout}" />
   </bean>

   <import resource="applicationContext-sae-lotinstallmaj.xml" />


</beans>