<?xml version="1.0" encoding="UTF-8"?>
<beans
   xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">


   <!--
   Le PropertyPlaceholderConfigurer contenant les clé/valeurs des fichiers Properties.
      
   Il faut fournir un bean nommé cassandraConfigResource de type org.springframework.core.io.Resource
   qui pointe sur le fichier Properties de configuration Cassandra
   -->
   <bean
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="locations">
         <array value-type="org.springframework.core.io.Resource">
            <ref bean="cassandraConfigResource" />
         </array>
      </property>
   </bean>

   
   <!-- Import du fichier de contexte String de l'artéfact sae-droit -->
   <import resource="classpath*:/applicationContext-sae-droit.xml" />
   
   
   <!-- Component-scan sur l'artéfact courant -->
   <context:component-scan base-package="fr.urssaf.image.sae.integration.droits" />

</beans>