<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
      	http://www.springframework.org/schema/batch
        http://www.springframework.org/schema/batch/spring-batch-2.1.xsd">


   <bean id="saeConfigResourceLoader"
      class="fr.urssaf.image.sae.services.executable.manager.SAEConfigResourceLoader">
      <constructor-arg ref="saeConfigResource" />
   </bean>

   <bean id="dfceConfigResource" factory-bean="saeConfigResourceLoader"
      factory-method="loadDFCEConfigResource" />

   <bean id="cassandraConfigResource" factory-bean="saeConfigResourceLoader"
      factory-method="loadCassandraConfigResource" />


   <bean id="applicationProperties"
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="locations">
         <array value-type="org.springframework.core.io.Resource">
            <ref bean="saeConfigResource" />
            <ref bean="dfceConfigResource" />
            <ref bean="cassandraConfigResource" />
         </array>
      </property>
   </bean>

   <!-- service des traitements de masse  -->
   <import resource="applicationContext-sae-traitement-masse.xml" />
   <import resource="applicationContext-sae-capture-masse-item.xml" />

   <!-- configuration de la capture en masse  -->
   <import resource="applicationContext-sae-capture-masse.xml" />

   <!-- configuration DFCE -->
   <import resource="applicationContext-storageConnectionParameter.xml" />

   <!-- configuration ECDE -->
   <bean id="ecdeSourceManager" class="fr.urssaf.image.sae.ecde.EcdeSourceManagerImpl" />
   <bean id="ecdeConfigFile" class="java.io.File">
      <constructor-arg value="${sae.ecde.cheminFichierConfig}" />
   </bean>
   <bean id="ecdeSources" factory-bean="ecdeSourceManager"
      factory-method="load">
      <constructor-arg ref="ecdeConfigFile" />
   </bean>

   <!--  importation des contextes -->
   <import resource="applicationContext-sae-services.xml" />
   <import resource="applicationContext-sae-storage-dfce.xml" />
   <import resource="applicationContext-sae-metadata.xml" />
   <import resource="applicationContext-sae-ecde.xml" />
   <import resource="applicationContext-sae-mapping.xml" />

   <!-- configuration de l'interruption du traitement -->
   <bean id="captureMasseConfig"
      class="fr.urssaf.image.sae.services.capturemasse.support.stockage.interruption.model.InterruptionTraitementConfig">
      <qualifier value="interruption_capture_masse" />
      <property name="start" value="${sae.archivagemasse.interruption.heure}" />
      <property name="delay" value="${sae.archivagemasse.interruption.delai}" />
      <property name="tentatives"
         value="${sae.archivagemasse.interruption.tentatives}" />
   </bean>

   <!-- configuration du pool d'insertion des documents dans DFCE -->
   <bean id="insertionPoolConfiguration"
      class="fr.urssaf.image.sae.services.capturemasse.support.stockage.multithreading.InsertionPoolConfiguration">
      <property name="corePoolSize" value="${sae.archivagemasse.pool.size}" />
   </bean>

</beans>