<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <!--
   Il s'agit du fichier principal de contexte Spring de l'artéfact.
   C'est ce fichier que les composants doivent importer pour bénéficier des services
    de l'artéfact sae-services-capturemasse.
   
   Le fichier est découpé pour les besoins des tests unitaires.
   
    - La partie "Beans Spring Batch sur Cassandra" permet de changer au niveau des TU les
      DAO pour Spring Batch
      
    - La partie "Tout le reste" permet d'être importé tel quel dans les TU
   
   -->

   <!-- Beans Spring Batch sur Cassandra -->
   <import resource="applicationContext-commons-cassandra-spring-batch.xml" />
   <import resource="applicationContext-sae-services-capturemasse-sb.xml" />
   
   <!-- Tout le reste -->
   <import resource="applicationContext-sae-services-capturemasse-main.xml" />
   
</beans>
